.cartContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    margin: 10px 15px;
    flex-wrap: wrap;
    gap: 15px;
}

.form {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    z-index: 10;
}